#navbar {
    overflow: hidden;
    display: flex;
    border-bottom: white;
    border-width: 2px;
    border-style: solid;
} 
#adjust{
    height: 85px;
    width: 160px;
}
#navmenu{
    overflow: hidden;
}
#news{
    background-color:#43586e;
    color:#ffffff;
    border: groove;
}
#govUpdate{
    height:700px;
    width:900px;
}
.Earth{
    width:30%;
    height:35%;
}
#prepare{
    background-color:#52d55b;
}
#updates{
    background-color: #4dc9ae;
}
#DisasterMore{
    background-color: #eabd5b;
}
#extension{
    background-color: rgb(251, 142, 109);
}
.Report{
    background-color: rgb(252, 209, 109);
}
/* #color{
    color:aliceblue;
} */
/* #cloud{
    margin-top: 50px;
    padding: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFcNLvwqAhkhkdDOg0FBDQ8foSq-8PK3sPAA&usqp=CAU");
    color:rgb(37, 28, 66);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} */
/* .hover{
    padding: 5px;
} */
.intro{
    margin: 10px;
}
#text{
    size:20px;
}
/* #taylor{
    color:rgb(255, 255, 255);
}
.taylorImg{
    height:200px;
    width:180px;
} */
.explain{
    font-family: 'Playfair Display', serif;
}
#align{
    text-align:center;
}
#but{
    text-align:center;
}
#intro{
    border-style: solid;
    border-width: 5px;
    border-color:#C9C4BF;
    background-color:#BFC4C9;
    color:#757373;
}
.Natural{
    padding: 10px;
    text-align: left;
}
/* Whole background image for the natural disasters: https://png.pngtree.com/background/20210710/original/pngtree-game-esports-cyber-bar-black-cloud-natural-disaster-background-picture-image_1040473.jpg */
#start{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.ncei.noaa.gov/sites/default/files/2018-08/billion-dollar-disasters-collage_1200x630.png");
    color:rgb(32, 25, 54);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}
#background{
    background-image: linear-gradient(rgba(33, 32, 32, 0.5), rgba(21, 21, 21, 0.5)), url("https://png.pngtree.com/background/20210710/original/pngtree-game-esports-cyber-bar-black-cloud-natural-disaster-background-picture-image_1040473.jpg");
    color:rgb(37, 28, 66);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#hide{
    display:none;
}
#Examples{
    border-bottom: white;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
#Examples:hover + #hide{
    display:contents;
}




